div.homepage-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
div.page-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  padding: 1.6rem 2rem;
}
