nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

nav a {
  color: black;
  text-decoration-color: transparent;
  transition: 0.2s;
  margin-right: 3.3rem;
}


nav a:hover {
  text-decoration-color: black;
}
